.logo {
    height: 150px;
    display: flex;
    align-items: center !important;
    flex-direction: table !important;
    justify-content: center !important;
    background-color: #ac2292 !important;
}

ion-input {
    border-radius: 30px !important;
    border: 2px solid #ac2292;
    font-size: 18px;
    color: #ac2292;
    padding-left: 15px !important;
    text-align: center;
}

ion-col {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

ion-item {
    margin: 20px 0px 20px 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.entrar {
    padding: 0px 15px 0px 15px;
    margin: 20px 0px 20px 0px;
}

.btn-criar {
    font-size: 12px;
    background-color: transparent !important;
    border: 2px solid #ac2292;
    border-radius: 30px !important;
    color: #ac2292 !important;
}